<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%class{50}.%M:%L) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="result" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%magenta(%msg%n)</pattern>
        </encoder>
    </appender>
    <logger name="result" level="INFO" additivity="false">
        <appender-ref ref="result"/>
    </logger>

    <configuration>
        <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%date] %highlight([%level]) [%logger{10} %file:%line] %msg%n</pattern>
                <!--             ^^^^^^^^^^ -->
            </encoder>
        </appender>
        <appender name="NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%date] [%level] [%logger{10} %file:%line] %msg%n</pattern>
            </encoder>
        </appender>
        <root level="debug">
            <!-- to use enable this mode pass -Dcolor to jvm -->
            <if condition='isDefined("color")'>
                <then>
                    <appender-ref ref="COLOR"/>
                </then>
                <else>
                    <appender-ref ref="NOCOLOR"/>
                </else>
            </if>
        </root>
    </configuration>


    <logger name="org.postgresql" level="debug"/>
    <logger name="org.hsqldb.jdbcDriver" level="debug"/>
    <logger name="org.springframework.jdbc" level="info"/>
    <logger name="ru.javawebinar.topjava" level="debug"/>
    <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="debug"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
